.messenger{
    height: calc(100vh - 50px);
    display: flex;
}

.chatMenu{
    flex: 3.5;
}

.chatBox{
    flex: 5.5;
}


.chatOnline{
    flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper{
    padding: 10px;
}

.noConversation{
    position: absolute;
    top: 10%;
    font-size: 50px;
    color: rgb(224, 220, 220);
    text-align: center;
    cursor: default;
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    height: 90%;
    position: relative;
}


.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
}

.chatmenuInput{
    padding: 10px 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid gray;
}

.chatmenuInput:focus{
    outline: none;
}


.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}















